[Desktop Entry]
Name=Ubuntu 2D with XMonad
Comment=Tiling Window Manager
Icon=custom_xmonad_badge.xcf
Exec=gnome-session --session=xmonad
TryExec=/usr/bin/gnome-session
Type=XSession
#Type=Application
