[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=xmonad
Icon=custom_xmonad_badge.xcf
Exec=xmonad
NoDisplay=true
X-GNOME-WMName=Xmonad
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
